{% extends "base.html" %}
{% block content %}

<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



</style>


<script>
    
function copyText() {
    var codeview = document.getElementById("codeview");
    code = codeview.innerText;
    try{
    navigator.clipboard.writeText(code);
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 1250);
    }
    catch(err){
        alert("You need to change the protocol to https to copy code")
    }
}
</script>

<div style = "border-radius:10px;background-color: white; border: #99b8eb solid 3px; margin: 4px; box-shadow: inset 1px 1px  #99b8eb;">
     <h1> {{ data[(id)]["title"] }} </h1>
     <button onclick="copyText()" style = "border-radius:10px;background-color: white; border: #99b8eb solid 3px; margin: 4px; box-shadow: inset 1px 1px  #99b8eb;">Copy Code To Clipboard</button>
     <div id="snackbar">Code copied!</div>
     </div>
<pre id = "codeview"style="border-radius:10px; margin: 5px"><code class="java"> {{ data[(id)]["code"] }} </code></pre>

</



{% endblock %}